{%extends 'base.html'%}
{% load static %}
{%block content%}
  <section class="jumbotron ">
    <div class="container">
      <h1 class="text-center">Contact Us</h1>
      <h2>Team Members :</h2>

         <h5 class="text-indent">   1.Dushant Panchbhai</h5>
         <h5 class="text-indent">   Contact Number : 9324626533</h5>
         <h5 class="text-indent">   Email Id : dushantpanchbhai@gmail.com</h5>
         <br />
         <h5 class="text-indent">   2.Mithilesh Patil</h5>
         <h5 class="text-indent">   Contact Number : 9689574735</h5>
         <h5 class="text-indent">   Email Id : mithileshpatil2000@gmail.com</h5>
    </div>
  </section>
{%endblock%}
