{%extends 'base.html'%}
{% load static %}
{%block content%}
  <section class="jumbotron ">
    <div class="container">
      <h1 class="text-center">Contact Us</h1>
      <h2>Team Members :</h2>

         <h5 class="text-indent">   1.Dushant Panchbhai</h5>
         <h5 class="text-indent">   Contact Number : 7387676632</h5>
         <h5 class="text-indent">   Email Id : dushantrpanchbhai@gmail.com</h5>
         <br />
         <h5 class="text-indent">   2.Mithilesh Patil</h5>
         <h5 class="text-indent">   Contact Number : 9689574735</h5>
         <h5 class="text-indent">   Email Id : mithileshpatil2000@gmail.com</h5>
    </br>
    <h2>Mentors :</h2>
    <h5 class="text-indent">   1.Parth</h5>
   <h5 class="text-indent">   Contact Number : 9619916215</h5>
   <br>
    <h5 class="text-indent">   2.Priyesh Vakharia</h5>
    <h5 class="text-indent">   Contact Number : 8879641759</h5>


    </div>
  </section>
{%endblock%}
