{%extends "base.html"%}
{% load static %}
{%block content%}
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Info</h1>
      <br />
      <p style=" line-height: 1.8 ; font-size:20px" >A chatbot is a website used to conduct an on-line chat conversation via text or
        text-to-speech, in lieu of providing direct contact with a live human agent.Designed to convincingly
        simulate the way a human would behave as a conversational partner, chatbot systems typically require
        continuous tuning and testing, and many in production remain unable to adequately converse or pass the
        industry standard Turing test.Chatbots are typically used in dialog systems for various purposes
        including customer service, request routing, or for information gathering. While some chatbot
        applications use extensive word-classification processes, Natural Language processors, and
        sophisticated AI, others simply scan for general keywords and generate responses using common phrases
         obtained from an associated library or database. </p>
         </div>
  </section>
{%endblock%}
